:root {
    --color-one: #12395b;
    --color-two: #ffffff;
    --color-three: #e6f1fa;
    --color-four: #006ec8; 
    --color-five: #0b2237;   
}
body {
   background-color: var(--color-three);
   margin: 0;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,arial,sans-serif;
}
.container {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 0;
    background-color: var(--color-one);
    color: var(--color-two);
    min-height: 600px;
}
.col-12 {
    width: 100%;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
.col-20 {
    width: 20%;
    text-align: center;
}
.col-2 {
    width: 1/6%;
}
.row {
    float: left;
}
.header {
    text-align: center;
    width: 100%;
    margin-top: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid var(--color-three);
}

.section {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }



