body {
    margin: 0
}

.header {
    width: 100%;
    text-align: center;
    color: snow;
    background-color:rgb(9, 5, 66);
}

.subheader {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.subheader > p {
    width: 20%;
    float: left;
}

