:root {
    --color-one: #CCD5AE;
    --color-two: #E9EDC9;
    --color-three: #FEFAE0;
    --color-four: #FAEDCD; 
    --color-five: #D4A373;   
}
body {
   background-color: var(--color-three);
   margin: 0;
}
.col-12 {
    width: 100%;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
.col-20 {
    width: 20%;
}
.col-2 {
    width: 1/6%;
}
.row {
    float: left;
}
.header {
    text-align: center;
    background-color: var(--color-one);
}

.header > h1 {
    margin-top: 0;
}

.section {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
}


