.header {
    width: 100%;
    text-align: center;
    color: rgb(230, 229, 240);
    background-color:rgb(12, 8, 66);
}

.subheader {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.subheader > p {
    width: 20%;
}

.row {
    float: left;
}